In [6]:
import dtale 
import pandas as pd

In [13]:
df = pd.read_csv('../datasets/Data_TripAdvisor_v1.csv', header=None, encoding = "ISO-8859-1")
df.head(10)

,0,1,2,3,4,5,6,7,8
0,ID_USER,USER_STATE,USER_TIMEZONE,ID_HOTEL,HOTEL_CITY,HOTEL_STATE,HOTEL_TIMEZONE,Trip Type,Rating
1,45,GA,Eastern,105170,Memphis,TN,Central,3,5
2,45,GA,Eastern,223229,SanAntonio,TX,Central,3,5
3,45,GA,Eastern,258688,Albuquerque,NM,Mountain,3,5
4,45,GA,Eastern,98827,ELPaso,TX,Central,3,5
5,45,GA,Eastern,99518,SanAntonio,TX,Central,3,3
6,64,TX,Central,224427,Cleveland,OH,Eastern,1,4
7,64,TX,Central,1751886,Austin,TX,Central,3,4
8,64,TX,Central,99120,Houston,TX,Central,3,4
9,100,NY,Eastern,120111,Jacksonville,FL,Eastern,2,5

In [14]:
dtale.show(df)

Executing shutdown due to inactivity...

2020-02-23 10:25:01,040 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2020-02-23 10:25:01,364 - INFO     - Executing shutdown...